:root {
    --main-background-color: #ffffff;
    --section-background-color: #212121;
    --main-link-color: #2196f3;
    --blue: #2196f3;
    --black: #212121;
    --white: #fff;
    --grey: #757575;
    --buttongrey: #f5f4fa;
    --lightgrey: #e5e5e5;
    --lineheadercolour: #ececec;
}

body {

    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--main-bacground-color);
    color: var(--black);
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: var(--black);
    /* text-decoration: none; */
    margin-left: 60px;
}

.logo:hover,
.logo:focus {

    text-decoration-color: var(--blue)
}

.blue {
    color: var(--blue);
}

.blueaccent {
    color: var(--blue);
}

.link {
    text-decoration: none;
}

.link-agencja {
    color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
}

.link-portfolio {
    color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
}

.link-kontakt {
    color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
}

.link-agencja:hover,
.link-agencja:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-kontakt:hover,
.link-kontakt:focus {
    color: var(--blue);
    text-decoration-color: var(--blue);
}

.footer-menu {
    margin: auto;
    padding: 0 15px;
    background-color: var(--black);
    color: var(--white);
    padding-top: 60px;
    padding-bottom: 60px;

}

.link-mail:hover,
.link-mail:focus,
.link-phone:hover,
.link-phone:focus {
    color: var(--blue);
}

.link-mail-header {
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

}

.link-phone-header {
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: none;
}

.link-mail-header:hover,
.link-mail-header:focus {
    color: var(--blue)
}

.link-phone-header:hover,
.link-phone-header:focus {
    color: var(--blue)
}

.header-container-portfolio {

    background-color: var(--white);
    border-bottom: 1px solid #ececec;

}

.header-container {
    border: 1px
}

.loremipsum-header {
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
}

.loremipsum-header {
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
}

.loremipsum-text {
    width: 270px;
    height: 75px;

    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    cursor: pointer;

}

.buttons {
    display: flex;
    cursor: pointer;
}

.button {
    /* font-family: 'Roboto',sans-serif; */
    background-color: var(--buttongrey);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
    color: var(--black);
    box-shadow: 0px 0px 4px rgba(6, 5, 5, 0.15);
    border: none;
    cursor: pointer;
    padding: 4px 18px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 94px;
}

/*button from -Agencja site- zamow usluge*/
.main-button {
    /* display: inline-block; */
    background-color: var(--blue);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.button:hover,
.button:focus,
.main-button:hover,
.main-button:focus {
    background-color: var(--blue);
    color: var(--white);
}


.worker-occupation {
    color: var(--grey);
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    /* margin-bottom: 40px; */
}

.container-photos {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;

}

.h2-title {
    padding-bottom: 50px;
    font-weight: 700;
    line-height: 1.16;
    font-size: 36px;
    color: var(--black);
    text-align: center;
    letter-spacing: 0.03em;
}

.link-phone {
    color: var(--white);
    text-decoration: none;
}


.link-mail,
.link-phone {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    opacity: 60%;
    margin-left: 20px;
}

.address {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    margin-left: 60px;
}

ul {
    list-style-type: none;
}

/*sekcja 1 czarne tlo naglowka i efektywne rozwiaznaia .... */

.container-tittle {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}



.naglowek-tytul {
    /* background-color: var(--section-background-color);
    */
    display: flex;
    flex-direction: column;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    margin: 0;
    padding: 200px 0 30px;
    line-height: 1.363;

}

.figure-portfolio {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 1px 0px 0px #eeeeee, 0px 1px 1px #eeeeee, 0px 2px 1px #eeeeee;
    width: 370px;
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;

}



.our-team-people {
    background-color: var(--white);
    width: 100%;
    margin: 0 0;
    text-align: center;
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
}

.portfolio-section-project {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 94px;
    

}


.project-description {

    max-width: 370px;
    background-color: var(--white);
    border: 1px solid #eeeeee;
    
}

.portfolio-images {
    background-color: var(--white);
    margin: 0 0;
    display: block;
}

.container-images-portfolio-lista {

    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        border-color: var(--main-color);
        gap: 30px;
        
}

.portfolio-images img {
    display: flex;
}

.portfolio-images-area {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    color: var(--black);
}

.portfolio-images-sign {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
    color: var(--grey);
}

.footer-portfolio {
    text-decoration: underline;
}

.footer-white-logo {
    color: var(--white);
    font-family: 'Raleway';
    font-size: 26px;
}





.container-photos-list {
    /* width: 1600;
    height: 648;
    background-color: var(--white);
    text-align: center; */
    display: flex;
    /* gap: 30px; */
}


.container-photos-list {

    padding: 25px;
    display: flex;
    text-align: center;
    line-height: 75px;
}

.container-our-team-list {

    display: flex;
  
    
}

.container-contact,
.container-navigation-links {
    display: inline-flex;
    justify-content: center;
    gap: 46px;


}

/* .container-contact{text-align: right;} */


.wrapper-container {
    box-sizing: border-box;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;

}

.container-loremipsum {
    max-width: 1200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.loremipsum-lista-container {
    display: flex;
    gap: 10px;

}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.container-buttons {
    gap: 8px;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.main {
    background-color: var(--white);
}


.navigation-links {
    display: flex;
    padding-left: 93px;
    gap: 46px;
}