:root{
    --main-background-color: #ffffff;
    --section-background-color: #212121;
    --main-link-color:#2196f3;
    --blue:#2196f3;
    --black: #212121;
    --white:#ffffff;
    --grey:#757575;
    --buttongrey: #f5f4fa;
    --lightgrey: #e5e5e5;
    --background-our-team-grey: #F5F4FA;

    
}

body {
    
    font-family:'Roboto','Raleway',sans-serif;
    background-color: var(--main-bacground-color);
    color: var(--black);
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;   
}

.logo:hover, .logo:focus {
    
    text-decoration-color: var(--blue)
}

.blue{
    color: var(--blue);
}

.blueaccent {
    color: var(--blue);
}

.link {
    text-decoration: none;
}

.link-agencja{
    color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
}

.link-portfolio{color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
font-weight: 500;}

.link-kontakt {
    color: var(--black);
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 500;
}

.link-agencja:hover,.link-agencja:focus,
.link-portfolio:hover,.link-portfolio:focus,
.link-kontakt:hover, .link-kontakt:focus {
 color: var(--blue);
 text-decoration-color: var(--blue);
}

.footer-menu{
    max-width: auto;
    margin: auto;
    padding: 0 15px;
    background-color:var(--black);
    color:var(--white);
padding-top: 60px;
padding-bottom: 60px;
}

.link-mail:hover,
.link-mail:focus,
.link-phone:hover,
.link-phone:focus {
    color: var(--blue);
}

.link-mail-header {color: var(--grey);text-decoration: none;font-size: 14px;font-weight: 500;}
.link-phone-header {color:var(--grey);font-size: 14px;
    font-weight: 500;
text-decoration-line: none;}

.link-mail-header:hover,
.link-mail-header:focus {
    color: var(--blue)
}

.link-phone-header:hover,
.link-phone-header:focus {
    color: var(--blue)
}

.loremipsum-header {
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
}

.loremipsum-header{
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
}
.loremipsum-text {
    width: 270px;
    height: 75px;

    color: var(--grey);
        font-size: 14px;
        font-weight: 400;
        line-height:1.71;

    }

.buttons{
   display: flex;cursor: pointer; 
}

.button {
    /* font-family: 'Roboto',sans-serif; */
    background-color: var(--buttongrey);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
    color: var(--black);
    box-shadow: 0px 0px 4px rgba(6, 5, 5, 0.15);
    border: none;
    cursor: pointer;
    padding: 4px 18px;
    letter-spacing: 0.03em;
    text-align: center;
}

/*button from -Agencja site- zamow usluge*/
.main-button
{
    /* display: inline-block; */
    background-color: var(--blue);
    color:var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    }
    
.button:hover,
.button:focus,
.main-button:hover,
.main-button:focus {
    background-color: var(--blue);
    color: var(--white);
}
.worker-occupation{color: var(--grey);padding: 10px;margin-bottom: 40px;
}


.container-photos {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;

}

.h2-title {
    font-weight: 700;
    line-height: 1.16;
    color: var(--black);
    font-size: 36px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;

}


.link-phone{
    color: var(--white);
    text-decoration: none;
}


.link-mail,.link-phone{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    opacity: 60%;
}

.address{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
}

ul {
    list-style-type: none;
}

/*sekcja 1 czarne tlo naglowka i efektywne rozwiaznaia .... */
/* .naglowek{background-color:#2F303A;} */
.container-tittle {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;}

    

.naglowek-tytul{
    /* background-color: var(--section-background-color);
    */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    margin: 0;
    padding: 200px 0 30px;
    line-height: 1.363;

}

   .figure-portfolio {
    background-color:var(--white);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 1px 1px 0px 0px #eeeeee, 0px 1px 1px #eeeeee, 0px 2px 1px #eeeeee;
        width: 370px;
    }

    /* .our-team-people{display: block;width: 100%;margin: 0 0;} */
    .our-team-people {
            background-color: var(--white);
            border-radius: 0px 4px 4px 0px;
            box-shadow: 0px 2px 1px 1px #eeeeee, 0px 2px 1px 1px #eeeeee, 0px 2px 1px 1px #eeeeee;
            width: 268px;
        padding: 1px;
    text-align: center;}

        .portfolio-images {
        background-color: var(--white);
            border-radius: 0px 4px 4px 0px;
            box-shadow: 0px 2px 1px 1px #eeeeee, 0px 2px 1px -1px #eeeeee, 0px 2px 1px 1px #eeeeee;
            width: 370px;
            padding: 0px;
        }
        .portfolio-images-area{
            font-size: 18px;
            font-weight: 700;
            color: var(--black);
        }

        .portfolio-images-sign{
            font-size: 16px;
            font-weight:400;
            color: var(--grey);}

        .footer-portfolio{text-decoration: underline;}
        /* .portfolio-images-lista{display: center;
             */
        .footer-white-logo{color: var(--white);font-family: 'Raleway';
            font-size: 26px;}
          

/* ponizej kontener na probe do weryfikacji obszaru */


.container-photos-list {
    /* width: 1600;
    height: 648;
    background-color: var(--white);
    text-align: center; */
  display: flex;gap: 30px;  
}

            
.container-photos-list {
    /* width: 360px; */
    /* margin:10%; */
    padding: 25px;
    display: flex;
    text-align: center;
    line-height: 75px;
}

.container-our-team-list {
  display: flex;
gap: 30px;
}

.container-our-team-list {
    background-color: var(--background-our-team-grey);
    width: 1600px;
    height: 648px;;
}



/* 
.container-buttons {
    background-color: red;
    margin:0;
    
}
                        .container-images-portfolio-lista{background-color: red;display: flex;}



                        .header-container{background-color: var(--white);}
   
 .container-navigation-link{background-color: var(--white);display: flex;}
 .container-navigation-links {
     background-color: var(--white);
     padding: 20px;
     display:flex;
 }
 .container-contact{background-color:red;display: flex;
flex-direction: row-reverse;justify-content: center;}       

*/
/* 
.wrapper-container {
    background-color: red;display: flex
;align-items: center;justify-content: space-between;} */


.container-loremipsum {
    max-width: 1200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}


.loremipsum-lista-container {
    display: flex;
    gap: 10px;
    padding: auto;
    
}


.container-buttons {
    gap: 8px;display: flex;justify-content: center;
}

.container-images-portfolio-lista {
    display:table-caption;
    
    
}
.main {background-color: ver(--white);}